*{
    margin: 0;
    padding: 0;
   }
   html {
    scroll-behavior: smooth;
   }
   /* CSS Variables */
   :root {
    --navbar-height: 59px;
   }
   /* Navigation Bar */
   #navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
   }
   #navbar ::before {
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -2;
    opacity: 0.7;
   }
   /* Navigation Bar: Logo and Image */
   #logo {
    margin: 10px 34px;
   }
   #logo img {
    height: 64px;
    margin: 3px 6px;
    filter: invert (100%);
   }
   /* Navigation Bar: List Styling */
   #navbar ul {
    display: flex;
    font-family: 'Baloo Bhai', cursive;
   }
   #navbar ul li {
    list-style: none;
    font-size: 1.3rem;
   }
   #navbar ul li a {
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
   }
   #navbar ul li a:hover {
    color: black;
    background-color: white;
   }
   /* Home Section */
   #home {
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
   }
   #home::before {
    content: "";
    position: absolute;
    background: url("https://images.creativemarket.com/0.1.0/ps/7064950/1820/1213/m1/fpnw/wm1/rqaqqo1djajpvvi1haj4cha0om8jetidkx9p0scx0b5jh7c1uamufvum2eofl8cq-.jpg?1569963450&s=e7e2aeabdb5054a873515b25d15d00b3") no-repeat center center/cover;
    height: 800px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
   }
   #home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
   }
   #home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
   }
   /* Services Section */
   #services {
    margin: 33px;
    display: flex;
   }
   #services.box {
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
   }
   #services.box img {
    height: 160px;
    margin: auto;
    display: block;
   }
   #services.box p {
    font-family: 'Bree Serif', serif;
   } 
   /* Clients Section */
   #client-section {
    position: relative;
   }
   #client-section::before {
   content: "";
   position: absolute;
   background: url('https://images.pexels.com/photos/1414651/pexels-photo-1414651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   width: 70%;
   height: 70%;
   z-index: -1;
   opacity: 0.3;
   }
   #clients {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .client-item {
    padding: 34px;
   }
   
   #clients img {
    height: 155px;
   }
   #clients img:hover {
    height: 200px;
   }
   /* Contact Section */
   #contact {
    position: relative;
   }
   #contact:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('https://images.pexels.com/photos/775031/pexels-photo-775031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
   }
   .contactbg{
      background: url('https://images.pexels.com/photos/775031/pexels-photo-775031.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
   }
   #contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
   }
   #contact-box input, 
   #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
   } 
   #contact-box form {
    width: 40%;
   }
   #contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
   }
   footer {
    background: black;
    color: white;
    padding: 9px 20px;
   }
   /* Utility Classes */
   .h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
   }
   .h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
   }
   .btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
   }
   .center {
    text-align: center;
   }

   .box{
    border: 2px;
    border-radius: 27px;
    border-style: solid;
    margin: 20px;
    background-color: antiquewhite;
   }
   
   .box img{
    height: 130px;
    width: 129px;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
   }
  

   .clientbackground{
    background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
   
    height: 569px;
    width: 1185px;
    align-items: center;
    justify-content: center;
    padding-left: 55px;
    padding-top: 25;
   }
   .submit{
   
    width: 73px;
    height: 29px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    margin: 4px;
    margin-left: 215px;
    padding-top: 8px;
    border-radius: 1rem;
    border: 2px;
    border-style: solid;
}
   
   .submit:hover{
       background: rgb(232, 242, 99);
       color: black;
}

@media (max-width:900px){

    html{

        font-size: 55%;

}

    .home{

        padding: 1rem 4rem;

    }

}
@media(max-width-1200px){
    #navbar {
        flex-direction: column;
       }
       #navbar ul li a {
        font-size: 1rem;
        padding: 0px 7px;
        padding-bottom: 8px;
       }
       /* Home section */
       #home {
        height: 370px; 
        padding: 3px 28px;
       }
       #home ::before {
        height: 480px; 
       }
       #home p {
        font-size: 13px;
       }
       /* Services section */
       #services {
        flex-direction: column;
       }
       #services.box { 
        padding: 14px;
        margin: 2px 0px; 
        margin-bottom: 20px;
       }
       /* Clients section */
       #clients {
        flex-wrap: wrap;
       }
       #clients img {
        width: 66px;
        padding: 6px;
        height: auto;
       }
       /* Contact us section */
       #contact-box form {
        width:80%;
       }
       /* Footer */
       /* Utility classes */
       .h-primary {
        font-size:26px;
       }
       .btn {
        font-size: 13px;
        padding: 4px 8px;
       }
       
}


@media (max-width:1200px){

    header{

        left: -120%;

    }

    #menu{

        display: block;

    }

    header .toggle{

        left: 0%;

    }

    .toggle{

        left: 0%;

    }

    body{

        padding: 0%;

    }

}

@media (max-width:768px){

    html{

        font-size: 50%;

    }

}

@media (max-width:400px){

    header{

        width: 100vw;

    }

    .heading{

        margin: 0 3rem;

    }

    .about .row .counter .box{

        width: 100%;

    }

    .education .box-container .box{

        width: 100%;

    }

    .portfolio .box-container .box{

        width: 100%;

    }

    .contact .row form{

        margin: 3rem 0;

    }

    

    

    

}
